version: "3.8"

services:
  cubrid-node-a:
    build: .
    container_name: cubrid-node-a
    hostname: nodea
    networks:
      cubrid-ha:
        ipv4_address: 172.28.0.10
    extra_hosts:
      - "nodea:172.28.0.10"
      - "nodeb:172.28.0.11"
    volumes:
      - ./node-a:/home/cubrid/CUBRID
      - ./.cubrid.sh:/home/cubrid/.cubrid.sh
    ports:
      - "33101:33000" # broker
      - "8102:8001" # manager (있다면)

  cubrid-node-b:
    build: .
    container_name: cubrid-node-b
    hostname: nodeb
    networks:
      cubrid-ha:
        ipv4_address: 172.28.0.11
    extra_hosts:
      - "nodea:172.28.0.10"
      - "nodeb:172.28.0.11"
    volumes:
      - ./node-b:/home/cubrid/CUBRID
      - ./.cubrid.sh:/home/cubrid/.cubrid.sh
    ports:
      - "33102:33000"
      - "8103:8001"

networks:
  cubrid-ha:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16
